<div class="container">
  <div class="content">
    <div class="title">Waves</div>
    <div class="card-wrapper">
      <app-card-detail
        [cardHeight]="cardHeight"
        [listOfCard]="cards"
        class="card-content"
      ></app-card-detail>
      <app-card-detail-box
        [listOfCard]="cardBox"
        style="width: 100%"
      ></app-card-detail-box>
    </div>
    <app-graph-waves
      [withTitle]="false"
      class="app-graph"
      [chart]="chart"
    ></app-graph-waves>
  </div>
</div>
