<div class="sidenav-content">
  <div class="header-logo">
    <img src="assets/horizontal.png" alt="logo" />
  </div>
  <mat-nav-list class="main-list">
    <mat-list-item
      *ngFor="let item of listSidebar"
      routerLink="{{ item.link }}"
      routerLinkActive="active"
      disabled="{{ item.disable }}"
      [ngClass]="{ active: isActive(item.link) }"
      [ngStyle]="{
        'border-left':
          selectedPath === item.link ? '4px solid #4099da' : '4px solid white'
      }"
    >
      <div class="mat-list-item-wrapper">
        <div class="mat-list-item-content">
          <mat-icon
            class="mat-list-item-icon"
            matListIcon
            [ngStyle]="{
              color: selectedPath === item.link ? '#4099da' : '#3B4956'
            }"
            >{{ item.icon }}</mat-icon
          >
          <span
            class="mat-list-item-text"
            matLine
            [ngStyle]="{
              color: selectedPath === item.link ? '#4099da' : '#3B4956'
            }"
            >{{ item.name }}</span
          >
        </div>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <footer
    class="footer"
    [ngStyle]="{ height: !openStatus ? '100px' : '216px' }"
  >
    <div class="footer-card" *ngIf="openStatus">
      <div class="footer-header-icon">
        <mat-icon>lightbulb_outline</mat-icon>
      </div>
      <div class="footer-description">
        <span class="footer-title">Get Started</span>
        <span class="footer-subtitle">
          Nunc, sit semper non amet pulvinar. Lacus, egestas ac vulputate
          placerat.
        </span>
      </div>
    </div>
    <div
      class="footer-user"
      [ngStyle]="{ flexDirection: !openStatus ? 'column' : 'row' }"
    >
      <div
        class="footer-user-short-icon"
        [ngStyle]="{
          'margin-right': openStatus ? '8px' : '0px'
        }"
      >
        {{ shortUsername }}
      </div>
      <div class="footer-user-short-name" *ngIf="openStatus">
        {{ username }}
      </div>
      <div
        class="footer-user-short-action"
        [ngStyle]="{ top: openStatus ? '0' : '10px' }"
      >
        <button
          mat-button
          class="footer-user-short-action-button"
          (click)="onClick()"
        >
          <mat-icon matListIcon>{{
            !openStatus ? "chevron_right" : "chevron_left"
          }}</mat-icon>
        </button>
      </div>
    </div>
  </footer>
</div>
