<div class="container">
  <div class="content">
    <div class="card_two">
      <div class="card-content">
        <div class="card-header">Visibility</div>
        <div class="card-body">1800 m</div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-header">Present weather</div>
        <div class="card-body">
          <div class="card-body-text">Haze</div>
          <div class="card-body-text-right">No Precipitation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content" style="gap: 10px">
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <div class="card-body-text">Clouds layer 1</div>
          <div class="card-body-text-right">OVC</div>
        </div>
        <div class="card-body">
          <div class="card-body-text">Height layer 1</div>
          <div class="card-body-text-right">188 ft</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <div class="card-body-text">Clouds layer 2</div>
          <div class="card-body-text-right">- - -</div>
        </div>
        <div class="card-body">
          <div class="card-body-text">Height layer 2</div>
          <div class="card-body-text-right">- - -</div>
        </div>
      </div>
    </div>
  </div>
</div>
